<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}PlayBlog{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}" type="text/css">
    {% endblock head %}
</head>
<body>
{% block nav %}
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="/" class="navbar-brand">PlayBlog</a>
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="category"
                               aria-expanded="false">分类 <span class="caret"></span></a>
                            <div class="dropdown-menu" aria-labelledby="category">
                                <a class="dropdown-item" href="#">默认</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">爬虫</a>
                                <a class="dropdown-item" href="#">web</a>
                                <a class="dropdown-item" href="#">数据分析</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">关于</a>
                        </li>
                    </ul>

                </div>
                {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                创建 <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('admin.new_post') }}">文章</a>
                                <a class="dropdown-item" href="{{ url_for('admin.new_category') }}">分类</a>
                                <a class="dropdown-item" href="{{ url_for('admin.new_link') }}">外链</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                管理 <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('admin.manage_post') }}">文章</a>
                                <a class="dropdown-item" href="{{ url_for('admin.manage_comment') }}">评论</a>
                                <a class="dropdown-item" href="{{ url_for('admin.manage_category') }}">分类</a>
                                <a class="dropdown-item" href="{{ url_for('admin.manage_link') }}">外链</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">退出</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">登入</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
{% endblock nav %}

<div class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}

    {% block content %}{% endblock content %}

    {% block footer %}
        <footer>
            <p class="float-left">
                <small> &copy; 2020 <a href="#" title="Written PlayBlog">PlayBlog</a> -
                    <a href="#" title="Fork me on GitHub">GitHub</a>
                </small>
            </p>
        <p class="float-right">
                <small>
                    <a href="http://www.beian.miit.gov.cn/" target="_blank">湘ICP备20006624</a>
                </small>
            </p>
        </footer>
    {% endblock footer %}
</div>

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>